.aboutHero {
  background: linear-gradient(135deg, var(--primary-blue), var(--secondary-blue));
  color: white;
  padding: 180px 0 100px;
  text-align: center;
}

.aboutHero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(162, 193, 201);
}

.heroSubtitle {
  font-size: 1.3rem;
  opacity: 0.9;
}

.statsSection {
  background: rgb(27, 25, 24);
  padding: 80px 0;
}

.statItem {
  padding: 2rem 1rem;
}

.statNumber {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(228, 160, 148);
  margin-bottom: 0.5rem;
}

.statLabel {
  font-size: 1.1rem;
  color: lavender;
  font-weight: 500;
}

.aboutImage {
  border-radius: 20px;
  height: 400;
  width: 600;
  box-shadow: 0 20px 40px rgba(139, 81, 81, 0.1);
}

.missionText  {
  background: #1f1f24;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #b7a7f1;
   
}

.missionList {
  list-style: none;
  padding: 0;
}

.missionList li {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(27, 22, 22);
}

@media (max-width: 768px) {
  .aboutHero h1 {
    font-size: 2.5rem;
  }
  
  .statNumber {
    font-size: 2rem;
  }
}
